body {
    font-family: 'Exo 2', sans-serif;
    padding: 3vw;
}

#topDiv {
    float: left;
    margin-bottom: 2vh;
}

#textLink,
#emailLink {
    float: right;
    background: whitesmoke;
    margin: 0 0 2vh 3vw;

}
#scheduleLink::after {
    clear: both;
}