body {
    font-family: 'Exo 2', sans-serif;
    padding: 0 15vw 3vh 15vw;
    background: #4c4c4c;
    background-image: linear-gradient(to bottom right,#4c4c4c, #7b7b7b);
    min-height: 100vh;
}
.navbar {
    min-height: 80px;
    font-size: 30px !important;
    width: 70vw;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    font-size: 30px !important;
    color: #007bff !important;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

.appointmentPanel {
    position: fixed;
    z-index: 1000 !important;
    top: 1vh !important;
    right: 5vw !important;
    background-color: #c3122f;
    text-align: center;
    color: whitesmoke;
    text-transform: uppercase;
    padding: 1.2vh 3vw;
    display: inline-block;
    font-weight: 600;
    letter-spacing: .3vw;
}

br {
    clear: both;
}

#textLink {
    position: fixed;
    z-index: 1000;
    top: 72vh;
    left: 2vw;
}

#emailLink {
    position: fixed;
    z-index: 1000;
    top: 84vh;
    left: 2vw;
}

#textLink,
#emailLink {
    text-align: center;
    padding: 6.5px;
    border-radius: 4px;
    background: whitesmoke;
    font-size: large;
    height: auto;
    width: 150px;
    color: #c4122f;    
    border: solid .8px #c4122f;
    border: none;
    margin: 0 0 2vh 0;
}

#topDiv::after,
#scheduleLink::after {
    clear: both;
}
.announce {
    color: whitesmoke !important;
    font-size: x-large;
    text-decoration: none;
}

#map,
#closeMap {
    display: none;
}

#openMap,
#closeMap {
    font-size: xx-large;
    width: 20vw;
    height: auto;
}

.jumbotron {
    padding: 2vh 4vw 2vh 0;
    overflow: hidden;
}
#myth {
    color: #007bff !important;
    font-size: 1.75vw;
}
.jumbotron,
.carousel {
    margin: 0 0 3vh 0; 
    border-radius: 2vw; 
}

#jHeader {
    padding-bottom: 1vh;
}

.read-more {
  background: #c4122f;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: whitesmoke;
  padding: .5vw;
  font-weight: 700;
  margin-top: 1vw;
  transform: translateX(40vw);
}
.read-more:hover {
    background: #777777;
    color: #2996cc;
}

.omLogo {
    width: 30%;
    float: left;
    font-size: 4vw;
}

.lead {
    padding-left: 30%;
    font-size: 1.75vw;
    margin-left: inherit;
}

#signature {
    font-size: x-large;
}

#solaLogo {
    width: 15vw;
}
.directionPage {
    margin: 0;
}
.d-flex {
    margin-bottom: 5vh;
}

@media only screen and (max-width: 1055px) {
   
    /* .navbar-brand {
        display: none;
    } */
    .appointmentWrapper{
        text-align: center;
    }
    .appointmentPanel {
        font-size: xx-large;
        margin: 2vh 0;
        width: 70vw;
        position: inherit;
        display: inline-block;
        z-index: 1000 !important;
    }


    #textLink,
    #emailLink {
        font-size: xx-large;
        margin: 2vh 0;
        width: 50vw;
        height: 10vh;
        position: inherit;
        display: inline-block;
        z-index: 1000 !important;
    }

    #openMap,
    #closeMap {
        font-size: xx-large;
        margin: 2vh 0;
        width: 50vw;
        height: 10vh;
        position: inherit;
    }

}
@media only screen and (max-width: 1024px) {
    body {
        padding: 0 4vw;
    }
    .navbar {
        width: 90vw;
    }
    
    .navbar-brand {
        display: inherit;
    }

    #solaLogo {
        width: 40vw;
    }

    .headline {
        font-size: 5.5vw;
    }
    .address {
        font-size: xx-large;
        text-decoration: none;
    }
    #myth {
        font-size: 3vw;
    }
    .read-more {
        transform: none;
    }

    .lead {
        margin-left: inherit;
        font-size: 3vw;
    }
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
}
