body {
    font-family: 'Exo 2', sans-serif;
    padding: 0 15vw 3vh 15vw;
}

.navbar {
    min-height: 80px;
    font-size: 30px !important;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    font-size: 30px !important;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
}

#topDiv {
    margin: 3vh 0;
}

br {
    clear: both;
}

#textLinkShort,
#textLink {
    float: right;
    text-align: center;
    padding: 6.5px;
    border-radius: 4px;    
}

#emailLink,
#emailLinkShort {
    float: left;
}

#textLink,
#textLinkShort,
#emailLink,
#emailLinkShort {
    background: whitesmoke;
    height: 40px;
    width: 150px;
    border: solid .8px #777777;
    margin: 0 0 2vh 0;
}

#textLinkShort,
#emailLinkShort {
    visibility: hidden;
}

#topDiv::after,
#scheduleLink::after {
    clear: both;
}
.announce {
    color: whitesmoke !important;
    font-size: x-large;
    text-decoration: none;
}
.jumbotron {
    margin: 0;
    padding-right: 4vw;
}

#jHeader {
    padding-bottom: 1vh;
}
.omLogo {
    width: 30%;
    float: left;
}

.lead {
    margin-left: 30%;
}

#signature {
    font-size: x-large;
}

#solaLogo {
    width: 15vw;
}
.directionPage {
    margin: 0;
}
.d-flex {
    margin-bottom: 5vh;
}

@media only screen and (max-width: 1255px) {
    .navbar-brand {
        display: none;
    }
}
@media only screen and (max-width: 1024px) {
    body {
        padding: 0 4vw;
    }
    .navbar-brand {
        display: inherit;
    }
    #textLink,
    #emailLink {
    display: none;
    }

    #textLinkShort,
    #emailLinkShort {
        visibility: visible;
        width: 25vw;
        height: auto;
        font-size: 5vw;
    }

    #solaLogo {
        width: 40vw;
    }
    
    .announce {
        color: #222222 !important;
        font-size: xx-large;
        text-decoration: none;
    }
    
    .lead {
        margin-left: inherit;
    }
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
}